:root {
    --header-top-offset: 3rem;
}

header {
    background-color: #a9a9a9;
    text-align: right;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: var(--header-top-offset);
}

header input,
header label {
    height: 100%;
    vertical-align: middle;
}

label {
    margin-right: 1%;
}

body {
    position: absolute;
    top: var(--header-top-offset);
    margin: 0;
    width: 100%;
}

.center-text {
    text-align: center;
}

.dark-mode {
    background-color: #1c1821;
    color: #e3e8ff;
}

.dark-mode header {
    background-color: #26212b;
}

.light-mode {
    background-color: #f5ead0;
    color: #0f0b00;
}

.light-mode header {
    background-color: #f5e3ba;
}